.shop {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 20px;
}

.cart-container {
    position: sticky;
    top: 0;
    padding: 30px 20px;
    height: 500px;
    background-color: aliceblue;
}